    <!-- Inicio Grid Section -->
    <section id="start">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Que deseas hacer?</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 start-item">
                    <div class="page-header">
									  <%= link_to new_registro_path, class: 'btn btn-primary' do %>
									    <span class="glyphicon glyphicon-plus"></span>
									    Nuevo Paciente
									  <% end %>
										</div>
                </div>
                <div class="col-sm-4 start-item">
                    <div class="page-header">
									  <%= link_to "/registros", class: 'btn btn-primary' do %>
									    <span class="glyphicon glyphicon-search"></span>
									    Pacientes Ingresados
									  <% end %>
										</div>
                </div>
                <div class="col-sm-4 start-item">
                    <div class="page-header">
									  <%= link_to "/recetas", class: 'btn btn-primary' do %>
									    <span class="glyphicon glyphicon-list-alt"></span>
									    Generar Receta
									  <% end %>
										</div>
                </div>
            </div>
        </div>
    </section>
