// Place all the styles related to the start controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-text{
	font-size: 0.7em;
}

.btn-primary{
	width: 100%;
}

#start{
	height: 100%;
}

.foot{
	bottom: 0;
	width: 100%;
	// 	position: relative;
}

