// Place all the styles related to the start controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-text{
	font-size: 0.7em;
}

.btn-success{
	width: 100%;
}

#start{
	padding-top: 3.2em;
	height: 100%;
}

.footer-simple{
	position: static;
	bottom: 0;
	width:100%;
	padding-bottom: 1em;
}

@media (max-width: 768px){
	#start{
		padding-top: 1.2em;
	}
}