// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-text{
	box-sizing: border-box;
	font-size: 0.7em;
	padding-right: 5px;
}