<div class="page-header">
  <%= link_to registros_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atras
  <% end %>
  <%= link_to @registro, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Ver
  <% end %>
  <h2>Editar Registro de paciente</h2>
</div>

<%= render 'form' %>
